@page "/mangas"
@using BlazorProject.Shared.DTO
@inject HttpClient Http

<h1>Mangas List</h1>

@if (mangas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableContainer>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Title</TableHeaderCell>
                <TableHeaderCell>Volumes</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var manga in mangas)
            {
                <TableRow>@manga.Title</TableRow>
                <TableRow>@manga.Volumes</TableRow>
            }
        </TableBody>
    </TableContainer>
}

@code {
    Manga[] mangas;

    protected override async Task OnInitAsync()
    {
        mangas = await Http.GetJsonAsync<Manga[]>("api/Mangas");
    }
}
