@page "/pokemons"
@using BlazorProject.Shared.DTO
@using Blazorise.Components
@using BlazorProject.Client.Shared.Models
@inject HttpClient Http

<h1>Pokemons List</h1>

@if (dropdowns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="columns">
        @foreach (var dropdown in dropdowns)
        {
            <div class="column">
                <DropdownComponent GenNumber="@dropdown.Value" Items="@dropdown.Key" />
            </div>
        }
    </div>
}

@code {
List<KeyValuePair<List<DropdownModel>,int>> dropdowns = new List<KeyValuePair<List<DropdownModel>,int>>();

protected override async Task OnInitAsync()
{
    foreach (var i in Enumerable.Range(1, 7))
    {
        var dropdown = new KeyValuePair<List<DropdownModel>, int>(await CreateDropdownModelData(i), i);
        dropdowns.Add(dropdown);
    }
}

private async Task<List<DropdownModel>> CreateDropdownModelData(int id)
{
    var list = await Http.GetJsonAsync<List<Pokemons>>($"api/Generation/{id}/pokemons");
    List<DropdownModel> newList = new List<DropdownModel>();
    list.ForEach(item =>
        newList.Add(new DropdownModel { Id = item.Id, Text = item.Name }));
    return newList;
}
}
