@inject HttpClient Http

<div class="row @JustifyContent no-gutters">
    <div class="@ColumnSize">
        @ColumnText
    </div>
    <div class="col-3">
        <i class="material-icons">
            @if (SelectedColumn == Column)
            {
                if (Direction == "asc")
                {
                    <span>expand_less</span>
                }
                else
                {
                    <span>expand_more</span>
                }
            }
            else
            {
                <span>unfold_more</span>
            }
        </i>
    </div>
</div>

@code
{

    [Parameter]
    public string ColumnText { get; set; }

    [Parameter]
    public string SelectedColumn { get; set; }

    [Parameter]
    public string Direction { get; set; }

    [Parameter]
    public string Column { get; set; }

    [Parameter]
    public string ColumnSize { get; set; }

    [Parameter]
    public string JustifyContent { get; set; }

    //protected override void OnInit()
    //{
    //    ColumnSize = "col-5";
    //    JustifyContent = "justify-content-center";
    //}
}