@using BlazorProject.Shared.DTO
@inject HttpClient Http

<h2>Evolution Chart</h2>
<div class="row justify-content-center text-center align-items-center mb-2">
    @foreach (var chain in EvolutionChainList)
    {
        if (chain != FirstFromChain)
        {
            <div class="col-1 my-auto">
                <div class="row text-center justify-content-center">
                    <i class="material-icons">arrow_right_alt</i>
                </div>
                <div class="row text-center justify-content-center">
                    <small>@chain.EvolutionCondition</small>
                </div>
            </div>
        }
        <div class="col-2">
            <PokemonImage PokemonId=@chain.Id IsSprite=true Gen=@chain.SpeciesGenerationName />
        </div>
    }
</div>

@code {
    [Parameter]
    public int PokemonId { get; set; }
    private List<EvolutionChainPokemon> EvolutionChainList { get; set; } = new List<EvolutionChainPokemon>();
    private EvolutionChainPokemon FirstFromChain { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        EvolutionChainList = await Http.GetJsonAsync<List<EvolutionChainPokemon>>($"api/Pokemons/{PokemonId}/evolutionChain");
        FirstFromChain = EvolutionChainList.First();
    }
}

