@inject IUriHelper UriHelper
@using BlazorProject.Shared
@if (IsSmall)
{
    <div class="row justify-content-center text-center align-items-center">

        <div class="col">
            <img src=@Source class="img-fluid" alt=""/>

            <div class="text-muted">
                #@PokemonId.ToString().PadLeft(3, '0')
            </div>

            <div>
                <button @onclick=@(() => UriHelper.NavigateTo($"pokemon/{PokemonId}")) style="padding: 0;" class="btn btn-link" type="button">
                    <strong>@PokemonName.FirstCharToUpper()</strong>
                </button>
            </div>

            <div class="row justify-content-center">
                @foreach (var type in Types)
                {
                    <span class="ml-1 mr-1"> @(type == Types.Last() && Types.Count == 2 ? "-" : "") </span>
                    <Type OnlyColor=true Text=@type/>
                }
            </div>

        </div>

    </div>
}
else
{
    <img src=@Source style="width: 100%; height: auto;" class="img-fluid" alt="">
}

@code {
public string Source { get; set; }

[Parameter]
public int PokemonId { get; set; } = 0;

[Parameter]
public string PokemonName { get; set; } = "";

[Parameter]
public string Gen { get; set; } = "";

[Parameter]
public bool IsSmall { get; set; } = false;

[Parameter]
public ICollection<string> Types { get; set; } = new List<string>();

private Dictionary<int, string> EdgeCases { get; set; }

protected override void OnInit()
{
    EdgeCases = new Dictionary<int, string>
    {
        {803, "https://pokemon-trainer.com/attachments/sprusulm803-1-gif.2949/"},
        {804, "https://pokemon-trainer.com/attachments/sprusulm804-1-gif.2948/"},
        {805, "https://pokemon-trainer.com/attachments/sprusulm805-1-gif.2950/"},
        {806, "https://pokemon-trainer.com/attachments/sprusulm806-1-gif.2951/"},
        {807, "https://pokemon-trainer.com/attachments/zeraora-1-gif.4570/"}
    };
}

protected override void OnParametersSet()
{
    //Always need to be 3 digits (1 -> 001, 01 -> 001)
    var pokemonIdString = PokemonId.ToString().PadLeft(3, '0');
    var genString = Gen.Equals("generation-vii") ? "sunmoonani" : "xyorasani";
    if (IsSmall)
    {
        Source = Gen == "generation-vii" 
            ? $"https://img.pokemondb.net/sprites/ultra-sun-ultra-moon/small/{PokemonName}.jpg" 
            : $"https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/{PokemonName}.png";
    }
    else
    {
        Source = $"https://assets.pokemon.com/assets/cms2/img/pokedex/full/{pokemonIdString}.png";
    }
    //Source = $"http://www.pokestadium.com/sprites/xy/{PokemonName}.gif";
    //Source = $"https://pokemon-trainer.com/images/sprite/{genString}/{pokemonIdString}.gif";
    //Source = $"https://img.pokemondb.net/sprites/ultra-sun-ultra-moon/normal/{PokemonName}.png";
}

}