@page "/pokemons"
@using BlazorProject.Shared.DTO
@using BlazorProject.Client.Pages.Pokemons.Stats
@inject HttpClient Http
@inherits RealmComponent<State>


@{
    Pokemon = Store.GetState().Pokemon;
}
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pokémon</a>
    </nav>
    <div class="row mt-2">
        @for (var genNumber = 1; genNumber <= numberOfGenerations; genNumber++)
        {
            <div class="col">
                <GenerationDropdown GenNumber="@genNumber" />
            </div>
        }
    </div>
    @if (Pokemon != null)
    {
        <div class="row align-items-center">
            <div class="col-4">
                <PokemonImage PokemonId=@Pokemon.Id />
            </div>
            <div class="col-8">
                <PokemonData Pokemon=@Pokemon />
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <PokemonStatsComponent Stats=@Pokemon.PokemonStats MaxStats=@MaxStats/>
            </div>
            <div class="col-5">
                <TypeDefenses TypeEfficacies=@Pokemon.PokemonTypeEfficacy />
            </div>
        </div>
        <EvolutionChain PokemonId=@Pokemon.Id />
    }
</div>

@code {
    [Parameter]
    public FullPokemon Pokemon { get; set; }
    private PokemonStats MaxStats { get; set; }
    int numberOfGenerations = 7;
    protected override async Task OnInitAsync()
    {
        MaxStats = await Http.GetJsonAsync<PokemonStats>("api/Pokemons/maxStats");
    }
}

