@page "/pokemon/{Id:int}"
@using BlazorProject.Shared.DTO
@using BlazorProject.Client.Pages.Pokemons.Stats
@using BlazorProject.Client.Pages.Pokemons.MovesList
@inject HttpClient Http
@inherits RealmComponent<State>

@if (Pokemon != null && Pokemon.Id == Id)
{
    <div class="row align-items-center mb-3">
        <div class="col-4">
            <PokemonImage PokemonId=@Pokemon.Id />
        </div>
        <div class="col-8">
            <PokemonData Pokemon=@Pokemon />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-7">
            <PokemonStatsComponent Stats=@Pokemon.Stats MaxStats=@MaxStats />
        </div>
        <div class="col-5">
            <TypeDefenses TypeEfficacies=@Pokemon.Efficacies />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <EvolutionChain PokemonId=@Pokemon.Id />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <PokemonMove PokemonMovesList=@Pokemon.Moves />
        </div>
    </div>
}

@code {
    [Parameter]
    public FullPokemon Pokemon { get; set; }
    [Parameter]
    public int Id { get; set; }
    private PokemonStats MaxStats { get; set; }
    protected override async Task OnInitAsync()
    {
        MaxStats = await Http.GetJsonAsync<PokemonStats>("api/Pokemons/maxStats");
    }
    protected async override Task OnParametersSetAsync()
    {
        Pokemon = await Http.GetJsonAsync<FullPokemon>($"api/Pokemons/{Id}");
    }
}

