@using BlazorProject.Client.Shared.Utils
@using BlazorProject.Shared
@if (OnlyColor)
{
    <button class="btn btn-link"
            style="color: @Color; padding: 0;"
            type="button">
        @Text.FirstCharToUpper()
    </button>
}
else
{
    <button class="pokemon-type"
            style="background-color: @Color; @(IsSmall ? "width:95%;" : "")"
            type="button">
        @Text
    </button>
}


@code {

    [Parameter]
    string Text { get; set; }

    [Parameter]
    bool IsSmall { get; set; } = false;

    [Parameter]
    bool OnlyColor { get; set; } = false;

    private string Color { get; set; }

    protected override void OnParametersSet()
    {
        Color = Utils.GetColorHex(Text);
        Text = IsSmall ? Text.Substring(0, 3) : Text;
    }

}