@using BlazorProject.Client.Shared.Models
@using BlazorProject.Shared.DTO
@inject HttpClient Http
@inherits RealmComponent<State>


<div class="btn-group dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="@GenNumber" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Generation @GenNumber
    </button>
    <div class="dropdown-menu" style='max-height:200px; overflow:auto;' aria-labelledby="@GenNumber">
        @foreach (var item in Items)
        {
            <button @onclick="@(() => SetPokemon(item.Id))" class="dropdown-item" type="button">@item.Text</button>
        }
    </div>
</div>

@code {
    public bool IsActive { get; set; } = false;

    [Parameter]
    List<DropdownModel> Items { get; set; }
    [Parameter]
    int GenNumber { get; set; }

    async void SetPokemon(int pokemonId)
    {
        
        var pokemon = await Http.GetJsonAsync<FullPokemon>($"api/Pokemons/{pokemonId}");
        Dispatch(new Redux.Actions.Pokemon.Set(pokemon));
    }
    
}
